<!DOCTYPE html>
<html>

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>

<body>
    <div class="container">
        <h2>Гостиницы, отели, туркомплексы</h2>
        <div class="panel-group" id="accordion">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a data-toggle="collapse" data-parent="#accordion" href="#hotel1">Гостиница Maxima</a>
                    </h4>
                </div>

                <div id="hotel1" class="panel-collapse collapse in">
                    <div class="panel-body">Номера в отеле: "Люкс" -2-х местный (максимальное размещение 5 чел.), санузел, фен, диван, холодильник,
                        электрочайник, плазменный телевизор, 3 кресла, журнальный столик, кабельное телевидение, интернет,
                        уборка номера посуточно. Площадь 40 м.кв. Пол - керамическая плитка. "Люкс" -2-х местный (максимальное
                        размещение 3 чел.), санузел, фен,2 кресла,столик, электрочайник, плазменный телевизор, кабельное
                        телевидение, интернет, уборка номера посуточно. Площадь 32 м.кв. Лоджия - 9 м.кв. Пол - паркет. 2
                        номера "Стандарт" 2-х местный, (максимальное размещение 2 чел.), санузел, фен, диван, плазменный
                        телевизор, кабельное телевидение, интернет, уборка номера посуточно. В стоимость номера входит завтрак
                        (ВB), ужин по доп. заказу. Цены на номера: от 350 грн. (стандарт), от 480 грн. (люкс). Адрес: проспект
                        Грушевского 41б, | Тел.: +38-096-918-77-66Викликати: +38-096-918-77-66, (+3849) 5-02-52 | e-mail:
                        admin@maximahotel.com.ua Детальная информация на сайте: Гостиница "Maxima" Гостиница "Maxima" на
                        Яндекс.Картах
                    </div>
                </div>
            </div>

            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a data-toggle="collapse" data-parent="#accordion" href="#hotel2">Гостиница "Констанция"</a>
                    </h4>
                </div>
                <div id="hotel2" class="panel-collapse collapse">
                    <div class="panel-body">Частный отель, расположенный в «зеленой» части города Каменец - Подольский и 300 метров от центральной
                        дороги. К услугам отдыхающих номера со всеми удобствами, с новой мебелью и сантехникой, TV, телефон.
                        Номера в отеле: 7 номеров - 2-х местные. 1 номер - 5-ти местный 1 номер - 3-х местный 1 люкс (двухкомнатный)
                        - 3 или 4-х местный Все номера гостиницы имеют выход на террасу с прекрасным видом на каньон г. Смотрич.
                        На территории: Беседки (открытая и закрытая), сауна (на дровах) с бассейном, комната отдыха, мангал
                        для шашлыков, паркинг. Дополнительные услуги: лечебный массаж, медовый и антицилюлитный. Адрес: ул.Средняя,
                        32 | Тел. +3803849--9-01-44 | Моб. +38097- 747-19-70 Гостиница "Констанция" на Яндекс.Картах</div>
                </div>
            </div>

            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a data-toggle="collapse" data-parent="#accordion" href="#hotel3">Гостиница "У РЕКИ"</a>
                    </h4>
                </div>
                <div id="hotel3" class="panel-collapse collapse">
                    <div class="panel-body">Гостиница построена в 2011 году на территории историко-архитектурного заповедника, рядом с памятниками
                        древности. Из окон гостиницы открывается панорама башен Польских ворот, фигура Матери Божьей на костеле
                        Петра и Павла. Цены на номера: от 255 грн. Адрес: ул. Онуфриевская, 4 | Тел.: +(38097) 5696528; |
                        Тел.: +38 097 2581734Викликати: +38 097 2581734 Детальная информация на сайте: Гостиница "У реки"
                        (Каменец-Подольский) Гостиница "У РЕКИ" на Яндекс.Картах</div>
                </div>
            </div>

            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a data-toggle="collapse" data-parent="#accordion" href="#hotel4">Гостиница "7 ДНЕЙ"</a>
                    </h4>
                </div>
                <div id="hotel4" class="panel-collapse collapse">
                    <div class="panel-body">Гостиница находиться в самом центре города. Интерьеры выполнены в современном стиле. В каждом номере
                        имеются кондиционер, мини-бар, спутниковое телевидение, телефонная линия с доступом в Интернет. В
                        гостинице 218 номеров пяти категорий. Также для гостей готеля доступны: европейская, тайская, японская
                        кухни, кофейня, 2 конференц-зала, спа-центр, охраняемая парковка, отделение банка и даже прачечная.
                        Расстояние от гостиницы «7 Дней» до железнодорожного вокзала – 3 км, до автовокзала – 1 км, до исторического
                        центра Старого города – 2,5 км. Цены на номера: от 240 грн. Адрес: ул. Соборная, 4 | Тел.: +(03849)
                        69069 | Факс: +38 (03849) 32302Викликати: +38 (03849) 32302 | E-mail: reservation@7dney.com | Skype:
                        simdniv_kp_reserv Детальная информация на сайте: 7 дней (Каменец-Подольский) Гостиница "7 ДНЕЙ" на
                        Яндекс.Картах
                    </div>
                </div>
            </div>

            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a data-toggle="collapse" data-parent="#accordion" href="#hotel5">Гостиница Reikartz Hotel (бывший "Амадеус-Клаб)"</a>
                    </h4>
                </div>
                <div id="hotel5" class="panel-collapse collapse">
                    <div class="panel-body">Отель «Reikartz Каменец-Подольский» удобно расположен в старинном особняке, в самом центре исторической
                        части города. Рядом находится Ратуша – польский магистрат, памятник архитектуры XVI столетия, а к
                        знаменитой старой крепости – символу города – можно дойти пешком всего за пять минут. Отель предлагает
                        гостям 38 современных и удобных номеров следующих категорий: Стандарт, Супериор, Полулюкс, Люкс,
                        Люкс «Мансарда». В стоимость номера входит проживание в номере выбранной категории; завтрак «шведский
                        стол»; доступ к сети Интернет; налоги (кроме туристического сбора); охраняемая парковка. телефон,
                        телевизор, фен; мини-сейф, мини-бар; Цены на номера: от 531 грн. Адрес: ул. Старобульварная, 2 |
                        Заказ номеров: http://www.reikartz.com/booking.html Детальная информация на сайте: http://www.reikartz.com/hotels/reikartz-kamenets-podolskij-prozhivanie-i-tarify.html
                        Вконтакте: http://vk.com/reikartzkp Отель «Reikartz» на Яндекс.Карте
                    </div>
                </div>
            </div>

            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a data-toggle="collapse" data-parent="#accordion" href="#hotel6">Гостиница "ГЕТЬМАН"</a>
                    </h4>
                </div>
                <div id="hotel6" class="panel-collapse collapse">
                    <div class="panel-body">Частная гостиница "Гетман" расположена в центре Старого города. Эстетично оформленные номера со всеми
                        удобствами, квалифицированный обслуживающий персонал со знанием иностранных языков обеспечит Вас
                        уверенностью в удобном проживании, спокойствием и уютом, необходимым для отдыха. К вашим услугам
                        ресторан украинской национальной кухни, сауна, паркинг. Цены на номера: от 385 грн до 900 грн. Адрес:
                        ул. Польский рынок, 8, | тел: +38 (03849) 90727Викликати: +38 (03849) 90727 | тел: +38 (067) 5882215Викликати:
                        +38 (067) 5882215 | E-mail: Hotel_hetman@mail.ru Детальная информация на сайте: www.hetman-hotel.com.ua
                        Гостиница "ГЕТЬМАН" на Яндекс.Карте
                    </div>
                </div>
            </div>

            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a data-toggle="collapse" data-parent="#accordion" href="#hotel7">Гостиница "КЛЕОПАТРА"</a>
                    </h4>
                </div>
                <div id="hotel7" class="panel-collapse collapse">
                    <div class="panel-body">Отель высокого уровня расположен в центре нового города. Ресторан с зимним садом, комната для переговоров,
                        салон красоты, оздоровительный комплекс с русской баней, сауной, бассейном, джакузи, тренажёрами,
                        солярием, бильярдом. 10 номеров со всеми удобствами, изысканным интерьером, дорогой мебелью. В каждом
                        номере есть рабочая зона, телевизор, мини-бар, мини-сейф, телефон, беспроводной Интернет. Цены на
                        номера: от 410 грн до 1000 грн. Адрес: ул.Огиенко, 39 | тел. +38(03849) 65681 | факс: +38 (03849)
                        65684Викликати: +38 (03849) 65684 | E-mail: kleopatra.kp@gmail.com Детальная информация: www.kleopatra-kp.com
                        Гостиница "КЛЕОПАТРА" на Яндекс.Карте
                    </div>
                </div>
            </div>

            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a data-toggle="collapse" data-parent="#accordion" href="#hotel8">Гостиничный и туристический комплексы "КСЕНИЯ"</a>
                    </h4>
                </div>
                <div id="hotel8" class="panel-collapse collapse">
                    <div class="panel-body">ОГостиница "Ксения" предоставляет к вашим услугам ресторан, конференц-зал, магазин, бильярд. Гостиница
                        находится по адресу: Жванецькое шоссе, 3 В с. Врублевцы (около 15 км от города) кроме отеля есть
                        беседки, пляж. Вам предложат прогулки на катамаранах, прогулки на пароходе, а также большой выбор
                        экскурсионных маршрутов. Цены на номера: от 210 грн до 750 грн. тел. (03849) 2-86-13, 067-526-36-62,
                        067-382-85-24, 098-464-38-00 e-mail: hotel.xenia@gmail.com Детальная информация: www.xenia.com.ua
                        "КСЕНИЯ" на Яндекс.Карте
                    </div>
                </div>
            </div>

            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a data-toggle="collapse" data-parent="#accordion" href="#hotel9">Гостиничный комплекс "ГАЛА-ГОТЕЛЬ"</a>
                    </h4>
                </div>
                <div id="hotel9" class="panel-collapse collapse">
                    <div class="panel-body">К вашим услугам 47 номеров со всеми удобствами. Ресторан, бар, боулинг, сауна, бильярд, парк и паркинг.
                        ул. Леси Украинки, 84 Цены на номера: от 210 грн до 580 грн. Корпус №1 тел. +38 (03849) 9 17 69Викликати:
                        +38 (03849) 9 17 69 (администратор отеля) +38 (067) 381 19 69Викликати: +38 (067) 381 19 69 Корпус
                        №2 тел. +38 (03849) 2 81 06Викликати: +38 (03849) 2 81 06, +38 (03849) 9 18 57Викликати: +38 (03849)
                        9 18 57 (администратор отеля) +38 (067) 381 22 21Викликати: +38 (067) 381 22 21 Отдел бронирования
                        тел. +38 (03849) 3 83 70Викликати: +38 (03849) 3 83 70 (администратор бронирования) E-mail: info@gala-hotel.com
                        ICQ: 416357533 сайт: www.gala-hotel.com "ГАЛА-ГОТЕЛЬ" на Яндекс.Карте
                    </div>
                </div>
            </div>

            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a data-toggle="collapse" data-parent="#accordion" href="#hotel10">Гостиничный комплекс "ТАРАС БУЛЬБА"</a>
                    </h4>
                </div>
                <div id="hotel10" class="panel-collapse collapse">
                    <div class="panel-body">К вашим услугам спутниковое телевидение, Интернет в каждом номере, а также ресторан украинской национальной
                        кухни, паркинг и экскурсовод. Цены на номера: от 280 грн до 450 грн. ул. Старобульварная, 6 тел.
                        +38(038)499-06-33(готель), +38(067)381-15-54 (готель), +38(038)-499-05-33 (ресторан) e-mail: hotel@taras-bulba.com.ua
                        ICQ: 570264929 сайт:www.taras-bulba.com.ua "ТАРАС БУЛЬБА" на Яндекс.Карте
                    </div>
                </div>
            </div>

            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a data-toggle="collapse" data-parent="#accordion" href="#hotel11">Комплекс "МОНТЕ-КРИСТО"</a>
                    </h4>
                </div>
                <div id="hotel11" class="panel-collapse collapse">
                    <div class="panel-body">Здесь все создано для вашего комфортного отдыха и удовольствия даже самых требовательных посетителей.
                        Это и уютно гостиничные номера разного класса и разной ценовой категории, кафе-бар в старинном стиле
                        с живой музыкой и национальными блюдами различных европейских стран. Это и сауна, которая сочетает
                        в себе русскую и финскую с турецким хаммамом, а также недавно открытая бильярдный зал. Цены на номера:
                        от 200 грн. Адрес: г. Каменец-Подольский, ул. Леси Украинки 24 | тел.: (03849) 2-82-20, (03849) 2-08-88,
                        (097) 300-90-35, (067) -383-12-92, (066) 504-24-36 e-mail: alona_zakzevskay@mail.ru Дополнительная
                        информация: www.monte-kristo.net "МОНТЕ-КРИСТО" на Яндекс.Карте
                    </div>
                </div>
            </div>


            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a data-toggle="collapse" data-parent="#accordion" href="#hotel12">Мини-гостиница "Villa Ruben"</a>
                    </h4>
                </div>
                <div id="hotel12" class="panel-collapse collapse">
                    <div class="panel-body">Дом мини-отельного типа размещен в тихом, престижном районе вилл и частных усадьб, подальше от толпостворений
                        и шума городских кварталов. Удобное росположение усадьбы дает возможность гостям быстро добратся
                        к автовокзалу (2,6км) и железнодорожному вокзалу (3,8км). Администрация усадьбы VILLA RUBEN не даст
                        Вам остатся недовольными, поможет, если нужно, в организации экскурсий, найти транспорт для ваших
                        прогулок по городу и другого времяпровождения! Недавно начавший свою работу, дом мини-отельного типа
                        VILLA RUBEN исполнен в сочетании классического и современных стилей. Тепло домашнего уюта обеспечит
                        посетителям чуство наслаждения и комфорта. Цены на номера: - с. Жовтневе, ул.Сковороди 9 тел:0972120386,
                        0384996318 "Villa Ruben" на Яндекс.Карте
                    </div>
                </div>
            </div>

            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a data-toggle="collapse" data-parent="#accordion" href="#hotel13">Мотель "Бастион"</a>
                    </h4>
                </div>
                <div id="hotel13" class="panel-collapse collapse">
                    <div class="panel-body">Расположен на АЗС "Бастион" на окраине города. 9 номеров класса "люкс" с удобствами и туркласса (удобства
                        на этаже). Кафе-бар в комплексе. Цены на номера: от 30 грн до 120 грн. Адрес: Хмельницкое шоссе,
                        9 тел: (03849) 28-186 сайт:www.koster.com.ua/hotel/kamenec_bastion-0.php Мотель "Бастион" на Яндекс.Карте
                    </div>
                </div>
            </div>

        </div>
    </div>
</body>

</html>