<!DOCTYPE html>
<html>

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>

<body>

    <div class="container">
        <h2>Музеи</h2>
        <div class="panel-group" id="accordion">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a data-toggle="collapse" data-parent="#accordion" href="#collapse1">Старая Крепость</a>
                    </h4>
                </div>
                <div id="collapse1" class="panel-collapse collapse in">
                    <div class="panel-body">Памятник фортификационного искусства XII-XVIII вв. В подземельях и башнях крепости открыты экспозиции,
                        воссоздающие страницы ее истории- экспозиции «Последние приобретения», «Оборона замка 1672 г.» и
                        легкого метательного оружия. В помещениях на территории крепости расположены: - отдел этнографии,
                        где представлены уникальные экспонаты музея: коллекции гончарных изделий, кузнечные работы, вышивка
                        и ткачество, резьба по дереву, ценные культовые предметы. Музей работает ежедневно в летнее время
                        10.00-18.00, понедельник - до 17.00; в зимнее время 9.00-17.00, понедельник до 16.00 выходной день-1
                        января. Цены на вход: дети, студенты - 10 грн.; взрослые –20 грн. Адрес: ул. Замковая, 1</div>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a data-toggle="collapse" data-parent="#accordion" href="#collapse2">Ратуша</a>
                    </h4>
                </div>
                <div id="collapse2" class="panel-collapse collapse">
                    <div class="panel-body">В Ратуше размещаются экспозиции "История денег", "Суд в средневековом Каменце", "История Магдебургского
                        права". Экспозиция "Суд в средневековом Каменце" находится в подземельях Ратуши, где были тюремные
                        камеры, имевшие подземное сообщение с другими зданиями города. Представлены предметы и средства допросов
                        заключенных. Музей работает с 10.00 до 18.00. Цены на вход: дети - 6 грн.; взрослые –9 грн. (единый
                        билет), дети - 4 грн.; взрослые –6 грн (второй этаж). Адрес: ул. Польский рынок, 1</div>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a data-toggle="collapse" data-parent="#accordion" href="#collapse3">Картинная галерея</a>
                    </h4>
                </div>
                <div id="collapse3" class="panel-collapse collapse">
                    <div class="panel-body">Музейное фондовое собрание насчитывает более 120 тысяч экспонатов. Главное место в ней принадлежит коллекции
                        произведений западноевропейского и русского изобразительного искусства ХVIII-ХХ вв. Особое место
                        занимают полотна украинского художника-передвижника нач. ХХ в. - В. Розвадовского, произведения художников
                        60-70 годов ХХ в А. Грена и произведения современных художников Подолья. В отделе функционирует стационарная
                        выставка, представленная редкими экспонатами. Работает с 10.00 до 18.00 в летний период, с 9.00 до
                        17.00 в зимний период, без выходных. Цены: взрослые - 10 грн, дети, студенты - 5 грн. Адрес: ул.
                        Пятницкая, 11</div>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a data-toggle="collapse" data-parent="#accordion" href="#collapse4">Отдел археологии</a>
                    </h4>
                </div>
                <div id="collapse4" class="panel-collapse collapse">
                    <div class="panel-body">Расположен в памятнике архитектуры XVII века - в прошлом армянском торговом доме. В 2001 году открыт
                        отдел археологии. В экспозиции воссоздана жилье древнейшего человека, реконструировано орудия труда
                        и предметы быта в условном их использовании. В отделе археологии представлены более тысячи предметов
                        древностей, найденных на Подолье. Во внутреннем дворике расположился лапидарий с языческих идолов.
                        При музее действует выставочный зал современного изобразительного искусства. Работает с 10.00 до
                        18.00 в летний период, 9.00 до 17.00 в зимнее время, без выходных. Адрес: ул. Соборная, 29а</div>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a data-toggle="collapse" data-parent="#accordion" href="#collapse5">Кафедральный костел</a>
                    </h4>
                </div>
                <div id="collapse5" class="panel-collapse collapse">
                    <div class="panel-body">В действующем храме Кафедрального костела Святых Апостолов Петра и Павла, памятник архитектуры XV-XIX
                        вв. в свободное от богослужения время проводят экскурсии по истории архитектуры храма и истории художественных
                        произведений, которые в нем находятся. Адрес: ул. Татарская, 20
                    </div>
                </div>
            </div>
        </div>
        <h2>Кино</h2>
        <div class="panel-group" id="accordion">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a data-toggle="collapse" data-parent="#accordion" href="#kino">Ночной клуб «Клуб-Ничка»</a>
                    </h4>
                </div>
                <div id="kino" class="panel-collapse collapse">
                    <div class="panel-body">”Синема” занял малый зал бывшего кинотеатра ”Юность”. В нем больше 100 мест. Оборудованы места люкс с
                        двух-трехместными диванами и столиками. Контактные телефоны: (03849)5-05-83, (067)300-11-15. О кинотеатре
                        можно почитать на сайте МЦ "Юность" Адрес: просп. Грушевского, 15 Аносы показов можно увидеть в групе
                        http://vkontakte.ru/#/club18477437 или у нас в разделе "Общение"</div>
                </div>
            </div>
        </div>
        <h2>Развлечения</h2>
        <div class="panel-group" id="accordion">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a data-toggle="collapse" data-parent="#accordion" href="#enter1">Боулинг-клуб «Галактика»</a>
                    </h4>
                </div>
                <div id="enter1" class="panel-collapse collapse in">
                    <div class="panel-body">Находится на территории отельного комплекса «Гала-Готель» Несомненными плюсами заведения являются удобная
                        парковка, близость ресторана.работает с 10.00 до 05.00 Адрес: ул. Леси Украинки, 84 Дополнительная
                        информация: Гала-готель/Галактика</div>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a data-toggle="collapse" data-parent="#accordion" href="#enter2">Ночной клуб «Клуб-Ничка»</a>
                    </h4>
                </div>
                <div id="enter2" class="panel-collapse collapse">
                    <div class="panel-body">Находится в пригородной зоне (с. Голосков). Туристический развлекательный комплекс «Клуб-Ничка», по своей
                        сути - центр развлечений и отдыха. В «Клуб-Ничке» имеются просторный зал, оригинальная барная стойка
                        в стиль клуба, за которой также свободно разместится с десяток любителей пообщаться с барменом. Ресторанное
                        меню прекрасно дополняется разнообразными коктейлями и ароматными чаями. Дополнительная информация:
                        Клуб-Ничка</div>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a data-toggle="collapse" data-parent="#accordion" href="#enter3">ЖаRa</a>
                    </h4>
                </div>
                <div id="enter3" class="panel-collapse collapse">
                    <div class="panel-body">Режим работы: Пт, Сб, Вс (21:00 — 04:00) Контактные телефоны: (096) 55-3-888 Адрес: просп. Грушевского,
                        15 Дополнительная информация: clubs.topdj.ua</div>
                </div>
            </div>
        </div>
    </div>

</body>

</html>